<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>REGISTRO</title>
</head>
<body>
    <div class="section">
        <form method="post">
            <input type="texto" name="nombre"  placeholder="Ingrese su nombre" required>

            <input type="email" name="email"  placeholder="Ingrese su email" required>
            <button class="button_enviar" type="submit">Registrar Usuario </button>

        </form>
          <table>
            <tr> <th> Id Usuario </th> <th> Nombre Usuario </th> <th> Correo Usuario </th> <th> Accion </th> </tr>
            {%  for persona in usuarios %}
            <tr>
                <td> {{ persona.id }}            </td>
                <td> {{ persona.username }}      </td>
                <td> {{ persona.email }}         </td>
                <td> <button class="boton_borrar"> <a href="/?borrar={{ persona.id}}">Eliminar</a> </button> </td>


            </tr>

            {%  endfor  %}
        </tr>
          </table>
    
    </div>
  
</body>
</html>