<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>REGISTRO</title>
</head>
<body>
    <div class="section">
        <form method="post">
            <h3>Formularo para crear</h3>
            <input type="texto" name="nombre" id=""placeholder="Ingrese su nombre" required>
            <input type="email" name="correo" id=""placeholder="Ingrese su email" required>
            <button class="button_enviar" type="submit">Registrar Usuario </button><br> <br>
        </form>
        <table>
            <tr>
                 <th> Id Usuario </th><th> Nombre Usuario </th><th> Correo Usuario </th> <th colspan="2"> Accion </th> 
                {%  for persona in usuarios %}
                     <tr>
                        <td> {{ persona.id}}            </td>
                        <td> {{ persona.nombre_usuario}}      </td>
                        <td> {{ persona.correo_usuario}}         </td>
                        <td> 
                           <button class="boton_borrar"> 
                               <a href="/?borrar={{ persona.id}}">Eliminar</a> 
                           </button>
                       </td>
                       <td>
                           <button class="boton actualizar">
                               <a href="/update/{{persona.id}}">Actualizar</a>
                           </button>
                       </td>
                   </tr>
                {%  endfor  %}
            </tr>
        </table>
    </div>
    
</body>
</html>